@import url("https://fonts.googleapis.com/css2?family=Martel+sans:wght@600&family=Poppins:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: black;
}
.main {
  background-image: url(./assets/images/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1200px, 100vw);
  height: 644px;
  position: relative;
}
.main .box {
  height: 644px;
  width: 100%;
  opacity: 0.60;
  background-color: black;
  top: 0;
  position: absolute;
}
nav {
  display: flex;
  max-width: 60vw;
  margin: auto;
  justify-content: space-between;
  align-items: centre;
  height: 100px;
  
}
nav img {
  color: red;
  width: 153px;
  position: relative;
  right: 225px;
  z-index: 10;
  top: 25px;
}
nav button {
  position: relative;
  z-index: 10;
  left: 225px;
  border:none;
  top: 25px;
}
/*.signin {
  background-color: red;
}*/
.hero {
  font-family: "Martel Sans", sans-serif;
  height: calc(100% - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  position: relative;
  gap: 23px;
  padding: 0 30px;
}
.hero > :nth-child(1) {
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  font-size: 48px;
  text-align: center;
}
@media screen and (max-width:1300px) {
  
.first {
  flex-wrap: wrap;
}
.second {
  flex-wrap: wrap-reverse;
  
}
.third {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 100px;

}
.fourth {
  flex-wrap: wrap-reverse;
}
nav button{
  position: relative;
  z-index: 10;
  top:16px;
  left: 50px;
}
nav img{
  width: 110px;
  top:16px;
  z-index: 10;
  right:50px;
}
}
.hero > :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}
.hero > :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.btn {
  padding: 3px 8px;
  font-weight: 400;
  background-color: rgba(248, 243, 243, 0.021);
  border: 1px solid white;
  border-radius: 6px;
  cursor: pointer;
  color: white;

}
.red {
  background-color: red;
  color: #fff;
  padding: 3px 24px;
  font-size: 20px;
  border-radius: 4px;
  font-weight: 400;
}
.red-s {
  background-color: red;
  border: none;
  color: #fff;
}
.main input {
  padding: 7px 101px 8px 14px;
  font-size: 12px;
  border-radius: 4px;
  background-color: rgba(44, 36, 36, 0.8);
  border: 1px solid rgba(44, 36, 36, 0.4);
  color: white;
  font-weight: 300;
}
.sepration {
  height: 7px;
  width:100%;
  background-color: rgb(46, 44, 44);
  position: relative;
  z-index: 20;
}

.first {
  display: flex;
  justify-content: stretch;
  max-width: 70vw;
  margin: auto;
  color: white;
  align-items: center;
  gap: 20px;
  padding: 50px 0;
}
.secimage {
  position: relative;
  padding: 7px;
}

.secimage img {
  width: 555px;
  position: relative;
  z-index: 10;
}
.secimage video {
  width: 470px;
  position: absolute;
  top: 60px;
  left: 45px;  
}
section.first > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
section.first > div :first-child {
  font-size: 40px;
  font-weight: bolder;
}
section.first > div :nth-child(2) {
  font-size: 20px;
}
.second {
  display: flex;
  justify-content: stretch;
  max-width: 70vw;
  margin: auto;
  color: white;
  align-items: center;
  gap: 1px;

  padding: 50px 0;
}
.secondimage {
  position: relative;
  padding: 7px;
}
.secondimgage img {
  width: 555px;
  position: relative;
}
.check {
  display: flex;
  background-color: rgba(0, 0, 0, 0.977);
  width: 350px;
  height: 100px;
  position: absolute;
  top: 350px;
  left: 155px;
  border-radius: 10px;
  gap: 20px;
  border: 2px solid white;
}
.check img {
  position: absolute;
  width: 60px;
  height: 70px;
  top: 18px;
  left: 10px;
}
.inner {
  position: absolute;
  top: 20px;
  left: 85px;
  font-size: 10px;
  height: 50px;
}
.check > .gif {
  position: absolute;
  left: 270px;
}
section.second > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
section.second > div :first-child {
  font-size: 40px;
  font-weight: bolder;
}
section.second > div :nth-child(2) {
  font-size: 20px;
}
#one{
  font-weight: lighter !important; 
  font-size: 25px !important;
}
#two{
  font-weight: lighter !important; 
  font-size: 15px !important;
  color: blue;
}
.third {
  display: flex;
  justify-content: stretch;
  max-width: 70vw;
  margin: auto;
  color: white;
  align-items: center;
  gap: 1px;
  padding: 50px 0;
}
.thirdimage {
  position: relative;
  padding: 7px;
}
.thirdimage img {
  width: 570px;
  position: relative;
  z-index: 10;
}
.thirdimage video {
  width: 350px;
  position: absolute;
  top: 41px;
  left: 120px;
}
section.third div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
section.third > div :nth-child(1) {
  font-size: 40px;
  font-weight: bolder;
}
section.third > div :nth-child(2) {
  font-size: 20px;
}
.fourth {
  display: flex;
  width: 70vw;
  justify-content: stretch;
  align-items: center;
  color: #fff;
  gap: 100px;
  padding: 50px 0;
}
.fourthimage {
  position: relative;
  padding: 7px;
}
.fourthimage img {
  width: 555px;
  position: relative;
}
section.fourth div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
    align-items: center;
}
section.fourth > div :nth-child(1) {
  font-size: 40px;
  font-weight: bolder;
}
section.fourth > div :nth-child(2) {
  font-size: 20px;
  font-weight: lighter;
}
.faq {
  background: black;
  color: white;
  padding: 50px;
}
.faq h2 {
  text-align: center;
  padding: 30px;
  font-size: 48px;
}
.faqbox:hover {
  background-color: #414141;
}
.faqbox {
  transition: all 1s ease-out;
  display: flex;
  justify-content: space-between;
  background-color: #2d2d2d;
  height: 50px;
  max-width: 50vw;
  margin: 34px auto;
  align-items: center;
  padding-left: 4px;
  cursor: pointer;
}
.email {
  padding: 7px 101px 8px 14px;
  font-size: 12px;
  border-radius: 4px;
  background-color: #161616b3;
  border: 1px solid #161616b3;
  color: white;
  font-weight: 300;
}
footer {
  color: white;
  max-width: 60vw;
  margin: auto;
  padding: 50px;
}
footer span {
  padding: 34px 0;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
}
.footer-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer a {
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 1300px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 850px){
  .main{
    width:100%;
  }
  .hero> :nth-child(1){
    font-weight: bolder;
    font-size: 36px;
  }
  .hero > :nth-child(2) {
    font-weight: 400;
    font-size: 18px;
  }
  .hero > :nth-child(3) {
    font-weight: 400;
    font-size: 15px;
  }
  .secimage {
    position: relative;
    padding: 4px;
  }
  
  .secimage img {
    width: 375px;
    position: relative;
    left: 0px;
  }
  .secimage video {
    width: 295px;
    position: absolute;
    left:50px;
  }
  section.first > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
   
    align-items: center;
  }
  section.first > div :first-child {
    font-size: 32px;
    font-weight: bolder;
  }
  section.first > div :nth-child(2) {
    font-size: 15px;
  }

  .secondimage {
    position: relative;
    padding: 5px;
  }
  .secondimage img {
    width: 400px;
    position: relative;
    left: -25px;
  }
  .check {
    display: flex;
    background-color: rgba(0, 0, 0, 0.977);
    width: 250px;
    height: 70px;
    position: absolute;
    top: 200px;
    left: 45px;
    border-radius: 10px;
    gap: 20px;
    border: 2px solid white;
  }
  .check img {
    position: absolute;
    width: 45px;
    height: 55px;
    top: 7px;
    left: 10px;
  }
  .inner {
    position: absolute;
    top: 15px;
    left: 70px;
    font-size: 10px;
    height: 50px;
  }
  #one{
    font-weight: lighter !important;
    font-size: 12px !important;
  }
  #two{
    font-weight: bold !important;
    font-size: 7px !important;
  }
  .check > .gif {
    position: absolute;
    left: 200px;
  }
  .text2 {
    display: flex;
    flex-direction: column;
    position: relative;
    left:20px;
    gap: 10px;
    flex-wrap: wrap;
  }
  section.second > div :first-child {
    font-size: 30px;
    font-weight: bold;
  }
  section.second > div :nth-child(2) {
    font-size: 15px;
  }
  .thirdimage {
    position: relative;
    padding: 5px 0;
  }
  .thirdimage img {
    width: 400px;
    position: relative;
    z-index: 10;
    left: -25px;
  }
  .thirdimage video {
    width: 250px;
    position: absolute;
    top: 30px;
    left: 50px;
  }
  section.third div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  section.third > div :nth-child(1) {
    font-size: 32px;
    font-weight: bolder;
  }
  section.third > div :nth-child(2) {
    font-size: 15px;
  }
  .fourthimage {
    position: relative;
    padding: 5px;
  }
  .fourthimage img {
    width: 300px;
    position: relative;
    left: 100px;
  }
  .text4 {
    position: relative;
    display: flex;
    flex-direction: column;
   text-align: center;
    gap: 5px;
    left: 70px;
    justify-content: center;
    align-items: center;
  }
  section.fourth > div :nth-child(1) {
    font-size: 32px;
    font-weight: bolder;
  }
  section.fourth > div :nth-child(2) {
    font-size: 15px;
    font-weight: lighter;
  }
  .hero-buttons{
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 500px){
  .main{
    width:100%;
  }
  .hero> :nth-child(1){
    font-weight: bolder;
    font-size: 24px;
  }
  .hero > :nth-child(2) {
    font-weight: 400;
    font-size: 13px;
  }
  .hero > :nth-child(3) {
    font-weight: 400;
    font-size: 10px;
  }
  .secimage {
    position: relative;
    padding: 4px;
  }
  
  .secimage img {
    width: 175px;
    position: relative;
    left: 0px;
  }
  .secimage video {
    width: 131px;
    position: absolute;
    left:25px;
    top: 30px;
  }
  section.first > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  section.first > div :first-child {
    font-size: 28px;
    font-weight: bolder;
  }
  section.first > div :nth-child(2) {
    font-size: 13px;
  }

  .secondimage {
    position: relative;
    padding: 5px;
  }
  .secondimage img {
    width: 280px;
    position: relative;
    left: -25px;
  }
  .check {
    display: flex;
    background-color: rgba(0, 0, 0, 0.977);
    width: 150px;
    height: 50px;
    position: absolute;
    top: 145px;
    left: 45px;
    border-radius: 10px;
    gap: 20px;
    border: 2px solid white;
  }
  .check img {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 7px;
    left: 10px;
  }
  .inner {
    position: absolute;
    top: 14px;
    left: 50px;
    font-size: 6px;
    height: 50px;
  }
  #one{
    font-weight: lighter !important;
    font-size: 8px !important;
  }
  #two{
    font-weight: bold !important;
    font-size: 4px !important;
  }
  .check > .gif {
    position: absolute;
    left: 115px;
  }
  .text2 {
    display: flex;
    flex-direction: column;
    position: relative;
    left:20px;
    gap: 10px;
    flex-wrap: wrap;
  }
  section.second > div :first-child {
    font-size: 22px;
    font-weight: bold;
  }
  section.second > div :nth-child(2) {
    font-size: 11px;
  }
  .thirdimage {
    position: relative;
    padding: 5px 0;
  }
  .thirdimage img {
    width: 250px;
    position: relative;
    z-index: 10;
    left: -25px;
    top: 50px;
  }
  .thirdimage video {
    width: 158px;
    position: absolute;
    top: 70px;
    left: 20px;
  }
  section.third div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  section.third > div :nth-child(1) {
    font-size: 28px;
    font-weight: bolder;
  }
  section.third > div :nth-child(2) {
    font-size: 11px;
  }
  .fourthimage {
    position: relative;
    padding: 5px;
  }
  .fourthimage img {
    width: 200px;
    position: relative;
    left: 60px;
  }
  .text4 {
    position: relative;
    display: flex;
    flex-direction: column;
   text-align: center;
    gap: 5px;
    left: 50px;
    justify-content: center;
    align-items: center;
  }
  section.fourth > div :nth-child(1) {
    font-size: 28px;
    font-weight: bolder;
  }
  section.fourth > div :nth-child(2) {
    font-size: 11px;
    font-weight: lighter;
  }
  .hero-buttons{
    display: flex;
    flex-direction: column;
  }
  .faq h2{
    font-size: 32px;
  }
}